/* Hero Section Background */
.bgg {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}

.hero-bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%) blur(1px);
  position: fixed;
  z-index: -1;
  background-color: rgb(5, 8, 22 )
}

/* Main Section Background */
.main {
  position: relative;
  z-index: 2;
  padding-top: 50px; /* Adjust padding to prevent overlap */
}

/* Background Image for Main Section */
.hero-bgg-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -5; /* Ensures it's behind the main content */
}
.main{
  background-color: rgb(5, 8, 22 )
}

.hero-bgg {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  filter: brightness(120%);
  animation: rotateAnimation 50s linear infinite, frameAnimation 2s infinite;
}

/* Content Wrapper */
.content {
  position: relative;
}
/* Profile Component CSS */
.profile {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Poppins, sans-serif;
  padding: 2rem 0;
  color: white;
  background-color: rgb(5, 8, 22 );
}

.profile p {
  font-size: 1rem;
  margin: 0;
  text-align: justify;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    font-family: Poppins, sans-serif;
    color: white;
  }
  .profile p {
    font-size: 0.6rem;
  }
}

/* Footer */
.footer {
  text-align: center;
  color: white;
  padding: 20px;
}

/* Animations */
@keyframes rotateAnimation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* General styling */
.star-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 100;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: 50px;
  position: relative;
  background: linear-gradient(45deg, #b02e43, #b08536);
  transition: transform 0.9s ease, box-shadow 0.3s ease;
}
.star-button:hover {
  color: black;
}